<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head') %>
  <body>
    <%- include("./templates/nav")%>
    <main class="homePage">
      <h1>404</h1>
      <a href="/">Back Home</a>
    </main>
    <%- include('./templates/footer')%>
    <script src="../static/app.js"></script>
  </body>
</html>
