<!DOCTYPE html>
<html lang="en">
  <%- include('./templates/head') %>
  <body>
    <%- include("./templates/nav")%>
    <main class="homePage">
      <h1>Profile a Private Route</h1>
      <p>
        This is a Private route u can only view this page only when you are
        Authenticated
      </p>
      <a href="/">Visit Home</a>
    </main>
    <%- include('./templates/footer')%>
    <script src="../static/app.js"></script>
  </body>
</html>
