<nav>
  <div>
    <h2><a href="/">Logo</a></h2>
  </div>
  <div>
    <a href="/">Home</a>
    <a href="/Profile">Profile</a>
    <% if (user) { %>
    <a href="Profile"> <%= user.email %> </a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/signup">SignUp</a>
    <a href="/login">Login</a>
    <% } %>
  </div>
</nav>
